* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.open {
  font-size: 2rem;
  color: black;
}

input {
  display: none;
}

.close {
  width: 100%;
  height: 100vh;
  background: rgba(14, 14, 14, 0.534);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition: 0.5s;
}

#check:checked ~ ul {
  left: 0;
  padding: 20px;
  list-style: none;
}
#check:checked ~ ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

#check:checked ~ .close {
  display: block;
}

nav ul {
  position: fixed;
  width: 50%;
  height: 100vh;
  top: 0;
  left: -100%;
  background: linear-gradient(to right bottom, rgb(10, 10, 10), rgb(12, 12, 12));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 55;
}

.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 50px;
}

.grey {
  height: 460px;
  width: 100%;
  background-color: rgb(204, 201, 201);
  z-index: -1;
  position: absolute;
}

.showcase {
  background: url(../img/showcase.png);
  background-size: cover;
  width: 100%;
  height: 120vh;
  position: relative;
}
.showcase_orange {
  background-color: #EA651C;
  width: 35%;
  height: 730px;
  position: absolute;
  top: 60%;
  left: 20%;
  z-index: 1;
}
.showcase_text {
  background-color: rgb(46, 43, 43);
  padding: 45px 55px;
  width: 40%;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 3;
}
.showcase_text h4 {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.showcase_text h1 {
  font-size: 3.8rem;
  color: white;
  font-weight: 400;
  padding: 20px 0;
}
.showcase_text h5 {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
.showcase_text h5 a {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.info {
  display: flex;
  padding: 50px 5px;
  justify-content: space-evenly;
  width: 85%;
  background-color: white;
  position: absolute;
  left: 8%;
  z-index: 5;
}
.info_sect {
  width: 18%;
}
.info_sect h1 {
  border-bottom: 2px solid #EA651C;
  padding: 10px 0;
}
.info_sect p {
  font-family: "Handlee", cursive;
  padding: 10px 0;
  font-size: 1.1rem;
}

.forvh {
  height: 190vh;
}

.textwimg {
  display: flex;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  justify-content: space-evenly;
  background-color: #EA651C;
  gap: 30px;
}
.textwimg_text {
  width: 35%;
}
.textwimg_text h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: white;
}
.textwimg_text p {
  color: white;
  font-size: 1.2rem;
  line-height: 35px;
}
.textwimg_text p a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.textwimg_text button {
  border: transparent;
  font-weight: 700;
  text-align: center;
  padding: 15px 50px;
  margin-top: 10%;
  border-radius: 50px;
}
.textwimg_sect {
  width: 25%;
}
.textwimg_sect_img {
  width: 70%;
}
.textwimg_sect_img img {
  width: 100%;
  height: 180px;
  width: 190px;
  border-radius: 50%;
}
.textwimg_sect_text {
  width: 70%;
  padding: 15px 0;
}
.textwimg_sect_text p {
  color: white;
  font-size: 1.2rem;
}

.section5 {
  padding-top: 190px;
  padding-bottom: 190px;
}
.section5 .container .sec5 {
  display: flex;
  justify-content: space-between;
}
.section5 .container .sec5 .sec5__box {
  width: 35%;
}
.section5 .container .sec5 .sec5__box h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: gray;
}
.section5 .container .sec5 .sec5__box p {
  font-weight: 300;
  font-size: 24px;
  color: gray;
  margin-bottom: 30px;
}
.section5 .container .sec5 .sec5__box p a {
  color: rgba(0, 0, 0, 0.733);
  font-size: 18px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  background: white;
  text-decoration: underline;
}
.section5 .container .sec5 .sec5__box p a:hover {
  text-decoration: none;
  background: white;
}
.section5 .container .sec5 .sec5__box a {
  color: white;
  font-weight: 500;
  padding: 15px 46px;
  font-size: 23px;
  background: #000;
  border-radius: 40px;
  text-decoration: none;
}
.section5 .container .sec5 .sec5__box a:hover {
  background: orangered;
}
.section5 .container .sec5 .sec5__box2 {
  width: 55%;
  position: relative;
}
.section5 .container .sec5 .sec5__box2 img {
  width: 100%;
}
.section5 .container .sec5 .sec5__box2 .sec5__div {
  position: absolute;
  right: 25%;
  top: -26%;
  width: 48%;
  height: 144%;
  z-index: -1;
  background: #ea651c;
}
.section5 .container .sec5 .sec5__box2 .sec5__div2 {
  position: absolute;
  top: 14%;
  right: -9%;
  width: 72%;
  z-index: -1;
}
.section5 .container .sec5 .sec5__box2 .sec5__div2 img {
  width: 100%;
}

.section6 {
  padding-top: 190px;
  padding-bottom: 190px;
}
.section6 .container .sec6 {
  display: flex;
  justify-content: space-between;
}
.section6 .container .sec6 .sec6__box {
  width: 53%;
  background: #ea651c;
  padding: 58px 50px 103px 67px;
}
.section6 .container .sec6 .sec6__box h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.section6 .container .sec6 .sec6__box p {
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}
.section6 .container .sec6 .sec6__box p a {
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  background: #ea651c;
  text-decoration: underline;
}
.section6 .container .sec6 .sec6__box p a:hover {
  text-decoration: none;
}
.section6 .container .sec6 .sec6__box a {
  color: white;
  font-weight: 400;
  padding: 10px 41px;
  font-size: 18px;
  background: #000;
  border-radius: 40px;
  text-decoration: none;
}
.section6 .container .sec6 .sec6__box a:hover {
  background: white;
  color: #000;
}
.section6 .container .sec6 .sec6__box2 {
  width: 47%;
  position: relative;
}
.section6 .container .sec6 .sec6__box2 img {
  width: 100%;
  position: absolute;
  top: -14%;
  right: 2%;
}
.section6 .container .sec6 .sec6__box2 .sec6__div {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 47%;
  height: 100%;
  z-index: -1;
  background: #ea651c;
}
.section6 .container .sec6 .sec6__box2 .sec6__div2 {
  position: absolute;
  top: -26%;
  right: 27%;
  width: 85%;
  z-index: -1;
}
.section6 .container .sec6 .sec6__box2 .sec6__div2 img {
  width: 100%;
}

.section7 {
  padding-top: 135px;
  padding-bottom: 116px;
  background: #ea651c;
}
.section7 .container .sec7 {
  display: flex;
  justify-content: space-between;
}
.section7 .container .sec7 .sec7__box {
  width: 53%;
  background: white;
  padding: 58px 50px 103px 67px;
}
.section7 .container .sec7 .sec7__box h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: black;
}
.section7 .container .sec7 .sec7__box p {
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.679);
  margin-bottom: 30px;
}
.section7 .container .sec7 .sec7__box p a {
  color: black;
  font-size: 18px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  background: white;
  text-decoration: underline;
}
.section7 .container .sec7 .sec7__box p a:hover {
  text-decoration: none;
}
.section7 .container .sec7 .sec7__box a {
  color: white;
  font-weight: 400;
  padding: 10px 41px;
  font-size: 18px;
  background: #000;
  border-radius: 40px;
  text-decoration: none;
}
.section7 .container .sec7 .sec7__box a:hover {
  background: white;
  color: #000;
}
.section7 .container .sec7 .sec7__box2 {
  width: 47%;
  order: 1;
  position: relative;
  z-index: 99;
}
.section7 .container .sec7 .sec7__box2 img {
  width: 100%;
  position: absolute;
  top: -14%;
  right: 2%;
}
.section7 .container .sec7 .sec7__box2 .sec7__div {
  position: absolute;
  right: 53%;
  top: 0%;
  width: 47%;
  height: 100%;
  z-index: -1;
  background: white;
}
.section7 .container .sec7 .sec7__box2 .sec7__div2 {
  position: absolute;
  top: 8%;
  right: -13%;
  width: 85%;
  z-index: -1;
}
.section7 .container .sec7 .sec7__box2 .sec7__div2 img {
  width: 100%;
}

.sectiom8 {
  padding-top: 80px;
  padding-bottom: 90px;
}
.sectiom8 .container .sec8 h1 {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.822);
  margin-bottom: 50px;
}
.sectiom8 .container .sec8 .sec8__boox {
  display: flex;
  justify-content: space-between;
}
.sectiom8 .container .sec8 .sec8__boox .sec8__box {
  border-left: 10px solid #ea651c;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 47%;
}
.sectiom8 .container .sec8 .sec8__boox .sec8__box ul li {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.759);
}
.sectiom8 .container .sec8 .sec8__boox .sec8__box ul li .hhh {
  color: #ea651c;
}
.sectiom8 .container .sec8 .sec8__boox .sec8__box ul .sec8__li {
  margin-bottom: 0;
}

.section9 {
  padding-top: 190px;
  padding-bottom: 190px;
}
.section9 .container .sec9 {
  display: flex;
  justify-content: space-between;
}
.section9 .container .sec9 .sec9__box {
  width: 47%;
  background: rgb(246, 246, 246);
  padding: 73px 42px;
}
.section9 .container .sec9 .sec9__box h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: gray;
}
.section9 .container .sec9 .sec9__box p {
  font-weight: 300;
  font-size: 24px;
  color: gray;
  margin-bottom: 30px;
}
.section9 .container .sec9 .sec9__box p a {
  color: rgba(0, 0, 0, 0.733);
  font-size: 18px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  background: white;
  text-decoration: underline;
}
.section9 .container .sec9 .sec9__box p a:hover {
  text-decoration: none;
  background: white;
}
.section9 .container .sec9 .sec9__box a {
  color: white;
  font-weight: 500;
  padding: 15px 46px;
  font-size: 23px;
  background: #000;
  border-radius: 40px;
  text-decoration: none;
}
.section9 .container .sec9 .sec9__box a:hover {
  background: orangered;
}
.section9 .container .sec9 .sec9__box2 {
  width: 48%;
  position: relative;
}
.section9 .container .sec9 .sec9__box2 img {
  width: 100%;
}
.section9 .container .sec9 .sec9__box2 .sec9__div {
  position: absolute;
  right: -9%;
  top: -9%;
  width: 50%;
  height: 125%;
  z-index: -1;
  background: #ea651c;
}
.section9 .container .sec9 .sec9__box2 .sec9__div2 {
  position: absolute;
  top: 28%;
  right: 28%;
  width: 82%;
  z-index: -1;
}
.section9 .container .sec9 .sec9__box2 .sec9__div2 img {
  width: 100%;
}

.section10 {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../img/fo.jpg);
}
.section10 .container .sec10 {
  display: flex;
}
.section10 .container .sec10 .sec10__box {
  background: rgba(0, 0, 0, 0.763);
  width: 50%;
  padding-top: 80px;
  padding-bottom: 40px;
}
.section10 .container .sec10 .sec10__box ul {
  margin-bottom: 62px;
}
.section10 .container .sec10 .sec10__box ul li {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-bottom: 4px;
}
.section10 .container .sec10 .sec10__box ul li h2 {
  font-size: 26px;
  font-weight: 700;
  color: #ea651c;
  margin-bottom: 12px;
}
.section10 .container .sec10 .sec10__box2 {
  width: 50%;
  background: white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.section10 .container .sec10 .sec10__box2 h1 {
  font-size: 30px;
  align-items: center;
  color: #ea651c;
}
.section10 .container .sec10 .sec10__box2 form label {
  font-size: 21px;
  color: gray;
}
.section10 .container .sec10 .sec10__box2 form input {
  color: gray;
  display: block;
  font-size: 18px;
  padding: 8px 16px;
  outline: none;
  border: none;
  border-bottom: 3px solid #ea651c;
  width: 100%;
  margin-bottom: 20px;
}
.section10 .container .sec10 .sec10__box2 form textarea {
  color: gray;
  font-size: 18px;
  padding: 8px 16px;
  outline: none;
  border: none;
  border-bottom: 3px solid #ea651c;
  width: 100%;
  margin-bottom: 20px;
}
.section10 .container .sec10 .sec10__box2 form .foot_check {
  padding: 0;
  width: 10%;
}
.section10 .container .sec10 .sec10__box2 form button {
  font-size: 24px;
  color: white;
  background: #ea651c;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
}
.section10 .container .sec10 .sec10__box2 form button:hover {
  background: #000;
}

.footer {
  background: rgb(63, 62, 62);
  padding: 80px 0;
  text-align: center;
}
.footer h2 {
  font-size: 16px;
  font-weight: 100;
  color: white;
  margin-bottom: 60px;
}
.footer p {
  font-size: 16px;
  font-weight: 100;
  color: white;
}
.footer p a {
  color: lightseagreen;
}
.footer p a:hover {
  color: lightslategrey;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .section5 .container .sec5 {
    justify-content: space-between;
    align-items: center;
  }
  .section5 .container .sec5 .sec5__box {
    width: 98%;
  }
  .section5 .container .sec5 .sec5__box p {
    font-size: 20px;
  }
  .section5 .container .sec5 .sec5__box a {
    padding: 10px 46px;
    font-size: 15px;
  }
  .section5 .container .sec5 .sec5__box2 {
    width: 98%;
  }
  .section6 {
    padding-top: 3px;
  }
  .section6 .container .sec6 {
    position: relative;
  }
  .section6 .container .sec6 .sec6__box2 {
    width: 70%;
    z-index: -10;
  }
  .section6 .container .sec6 .sec6__box2 img {
    top: 0%;
    right: 0%;
  }
  .section6 .container .sec6 .sec6__box2 .sec6__div {
    display: none;
  }
  .section6 .container .sec6 .sec6__box {
    width: 100%;
    padding: 34px 26px 54px 32px;
  }
  .section6 .container .sec6 .sec6__box h2 {
    font-size: 24px;
  }
  .section6 .container .sec6 .sec6__box p {
    font-size: 19px;
  }
  .section6 .container .sec6 .sec6__box a {
    font-size: 12px;
  }
  .section7 .container .sec7 .sec7__box2 {
    width: 50%;
  }
  .section7 .container .sec7 .sec7__box {
    width: 50%;
    padding: 250px 15px 103px 15px;
    border-radius: 5px;
  }
  .section7 .container .sec7 .sec7__box h2 {
    font-size: 21px;
  }
  .section7 .container .sec7 .sec7__box p {
    font-size: 18px;
  }
  .section7 .container .sec7 .sec7__box a {
    font-size: 12px;
  }
  .sectiom8 .container .sec8 h1 {
    font-size: 26px;
  }
  .sectiom8 .container .sec8 .sec8__boox .sec8__box {
    width: 98%;
  }
  .sectiom8 .container .sec8 .sec8__boox .sec8__box ul li {
    font-size: 15px;
  }
  .section9 {
    padding-top: 41px;
  }
  .section9 .container .sec9 .sec9__box2 {
    width: 98%;
    order: 1;
  }
  .section9 .container .sec9 .sec9__box {
    width: 98%;
    padding: 37px 9px;
  }
  .section9 .container .sec9 .sec9__box h1 {
    font-size: 23px;
  }
  .section9 .container .sec9 .sec9__box p {
    font-size: 18px;
  }
  .section9 .container .sec9 .sec9__box p a {
    background: none;
  }
  .section9 .container .sec9 .sec9__box p a:hover {
    background: none;
  }
  .section9 .container .sec9 .sec9__box a {
    padding: 9px 46px;
    font-size: 10px;
  }
  .section10 .container .sec10 .sec10__box {
    width: 50%;
  }
  .section10 .container .sec10 .sec10__box2 {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .section5 .container .sec5 {
    flex-direction: column;
    gap: 165px;
    align-items: center;
  }
  .section5 .container .sec5 .sec5__box {
    width: 98%;
    order: 1;
  }
  .section5 .container .sec5 .sec5__box p {
    font-size: 20px;
  }
  .section5 .container .sec5 .sec5__box a {
    padding: 10px 46px;
    font-size: 15px;
  }
  .section5 .container .sec5 .sec5__box2 {
    width: 98%;
  }
  .section6 {
    padding-top: 3px;
  }
  .section6 .container .sec6 {
    flex-direction: column;
    gap: 272px;
    position: relative;
    align-items: center;
  }
  .section6 .container .sec6 .sec6__box2 {
    width: 100%;
    z-index: -10;
  }
  .section6 .container .sec6 .sec6__box2 img {
    top: 0%;
    right: 0%;
  }
  .section6 .container .sec6 .sec6__box2 .sec6__div {
    display: none;
  }
  .section6 .container .sec6 .sec6__box {
    width: 100%;
    padding: 34px 26px 54px 32px;
  }
  .section6 .container .sec6 .sec6__box h2 {
    font-size: 24px;
  }
  .section6 .container .sec6 .sec6__box p {
    font-size: 19px;
  }
  .section6 .container .sec6 .sec6__box a {
    font-size: 12px;
  }
  .section7 .container .sec7 {
    flex-direction: column;
    gap: 66px;
    align-items: center;
  }
  .section7 .container .sec7 .sec7__box2 {
    max-width: 300px;
    width: 90%;
  }
  .section7 .container .sec7 .sec7__box {
    width: 98%;
    order: 1;
    padding: 250px 15px 103px 15px;
    border-radius: 5px;
  }
  .section7 .container .sec7 .sec7__box h2 {
    font-size: 21px;
  }
  .section7 .container .sec7 .sec7__box p {
    font-size: 18px;
  }
  .section7 .container .sec7 .sec7__box a {
    font-size: 12px;
  }
  .sectiom8 .container .sec8 h1 {
    font-size: 26px;
  }
  .sectiom8 .container .sec8 .sec8__boox {
    flex-direction: column;
    gap: 22px;
  }
  .sectiom8 .container .sec8 .sec8__boox .sec8__box {
    width: 98%;
  }
  .sectiom8 .container .sec8 .sec8__boox .sec8__box ul li {
    font-size: 15px;
  }
  .section9 {
    padding-top: 41px;
  }
  .section9 .container .sec9 {
    flex-direction: column;
    gap: 46px;
    align-items: center;
  }
  .section9 .container .sec9 .sec9__box2 {
    width: 98%;
    order: 1;
  }
  .section9 .container .sec9 .sec9__box {
    width: 98%;
    padding: 37px 9px;
  }
  .section9 .container .sec9 .sec9__box h1 {
    font-size: 23px;
  }
  .section9 .container .sec9 .sec9__box p {
    font-size: 18px;
  }
  .section9 .container .sec9 .sec9__box p a {
    background: none;
  }
  .section9 .container .sec9 .sec9__box p a:hover {
    background: none;
  }
  .section9 .container .sec9 .sec9__box a {
    padding: 9px 46px;
    font-size: 10px;
  }
  .section10 .container .sec10 {
    flex-direction: column;
  }
  .section10 .container .sec10 .sec10__box {
    width: 100%;
  }
  .section10 .container .sec10 .sec10__box2 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .section5 .container .sec5 {
    flex-direction: column;
    gap: 165px;
    align-items: center;
  }
  .section5 .container .sec5 .sec5__box {
    width: 98%;
    order: 1;
  }
  .section5 .container .sec5 .sec5__box p {
    font-size: 20px;
  }
  .section5 .container .sec5 .sec5__box a {
    padding: 10px 46px;
    font-size: 15px;
  }
  .section5 .container .sec5 .sec5__box2 {
    width: 98%;
  }
  .section6 {
    padding-top: 3px;
  }
  .section6 .container .sec6 {
    flex-direction: column;
    gap: 272px;
    position: relative;
    align-items: center;
  }
  .section6 .container .sec6 .sec6__box2 {
    width: 100%;
    z-index: -10;
  }
  .section6 .container .sec6 .sec6__box2 img {
    top: 0%;
    right: 0%;
  }
  .section6 .container .sec6 .sec6__box2 .sec6__div {
    display: none;
  }
  .section6 .container .sec6 .sec6__box {
    width: 100%;
    padding: 34px 26px 54px 32px;
  }
  .section6 .container .sec6 .sec6__box h2 {
    font-size: 24px;
  }
  .section6 .container .sec6 .sec6__box p {
    font-size: 19px;
  }
  .section6 .container .sec6 .sec6__box a {
    font-size: 12px;
  }
  .section7 .container .sec7 {
    flex-direction: column;
    gap: 66px;
    align-items: center;
  }
  .section7 .container .sec7 .sec7__box2 {
    max-width: 300px;
    width: 90%;
  }
  .section7 .container .sec7 .sec7__box {
    width: 98%;
    order: 1;
    padding: 250px 15px 103px 15px;
    border-radius: 5px;
  }
  .section7 .container .sec7 .sec7__box h2 {
    font-size: 21px;
  }
  .section7 .container .sec7 .sec7__box p {
    font-size: 18px;
  }
  .section7 .container .sec7 .sec7__box a {
    font-size: 12px;
  }
  .sectiom8 .container .sec8 h1 {
    font-size: 26px;
  }
  .sectiom8 .container .sec8 .sec8__boox {
    flex-direction: column;
    gap: 22px;
  }
  .sectiom8 .container .sec8 .sec8__boox .sec8__box {
    width: 98%;
  }
  .sectiom8 .container .sec8 .sec8__boox .sec8__box ul li {
    font-size: 15px;
  }
  .section9 {
    padding-top: 41px;
  }
  .section9 .container .sec9 {
    flex-direction: column;
    gap: 46px;
    align-items: center;
  }
  .section9 .container .sec9 .sec9__box2 {
    width: 98%;
    order: 1;
  }
  .section9 .container .sec9 .sec9__box {
    width: 98%;
    padding: 37px 9px;
  }
  .section9 .container .sec9 .sec9__box h1 {
    font-size: 23px;
  }
  .section9 .container .sec9 .sec9__box p {
    font-size: 18px;
  }
  .section9 .container .sec9 .sec9__box p a {
    background: none;
  }
  .section9 .container .sec9 .sec9__box p a:hover {
    background: none;
  }
  .section9 .container .sec9 .sec9__box a {
    padding: 9px 46px;
    font-size: 10px;
  }
  .section10 .container .sec10 {
    flex-direction: column;
  }
  .section10 .container .sec10 .sec10__box {
    width: 100%;
  }
  .section10 .container .sec10 .sec10__box2 {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
  .showcase {
    background: url(/img/showcase.png);
    background-size: cover;
    width: 100%;
    height: 120vh;
    position: relative;
  }
  .showcase_orange {
    background-color: #EA651C;
    width: 35%;
    height: 680px;
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 1;
  }
  .showcase_text {
    background-color: rgb(46, 43, 43);
    padding: 45px 55px;
    width: 40%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 3;
  }
  .showcase_text h4 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .showcase_text h1 {
    font-size: 3.8rem;
    color: white;
    font-weight: 400;
    padding: 20px 0;
  }
  .showcase_text h5 {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .showcase_text h5 a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
  .info {
    display: flex;
    padding: 50px 5px;
    justify-content: space-evenly;
    width: 95%;
    background-color: white;
    z-index: 5;
    left: 1%;
    position: absolute;
  }
  .info_sect {
    width: 18%;
  }
  .info_sect h1 {
    border-bottom: 2px solid #EA651C;
    padding: 10px 0;
  }
  .info_sect p {
    font-family: "Handlee", cursive;
    padding: 10px 0;
    font-size: 1.1rem;
  }
}
@media (max-width: 950px) {
  .forvh {
    height: 220vh;
  }
  .textwimg {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 50px;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: #EA651C;
    gap: 30px;
  }
  .textwimg_text {
    width: 85%;
  }
  .textwimg_text h1 {
    font-size: 3.5rem;
    font-weight: 300;
    color: white;
  }
  .textwimg_text p {
    color: white;
    font-size: 1.2rem;
    line-height: 35px;
  }
  .textwimg_text p a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
  }
  .textwimg_text button {
    border: transparent;
    font-weight: 700;
    text-align: center;
    padding: 15px 50px;
    margin-top: 10%;
    border-radius: 50px;
  }
  .textwimg_sect {
    width: 85%;
  }
  .textwimg_sect_img {
    width: 70%;
  }
  .textwimg_sect_img img {
    width: 100%;
    height: 180px;
    width: 190px;
    border-radius: 50%;
  }
  .textwimg_sect_text {
    width: 70%;
    padding: 15px 0;
  }
  .textwimg_sect_text p {
    color: white;
    font-size: 1.2rem;
  }
}
@media (max-width: 850px) {
  .showcase {
    background: url(../img/showcase.png);
    background-size: cover;
    width: 100%;
    height: 120vh;
    position: relative;
  }
  .showcase_orange {
    background-color: #EA651C;
    width: 55%;
    height: 680px;
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 1;
  }
  .showcase_text {
    background-color: rgb(46, 43, 43);
    padding: 45px 55px;
    width: 60%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 3;
  }
  .showcase_text h4 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .showcase_text h1 {
    font-size: 4.8rem;
    color: white;
    font-weight: 400;
    padding: 20px 0;
  }
  .showcase_text h5 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .showcase_text h5 a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
  .info {
    display: flex;
    padding: 50px 5px;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    background-color: white;
    z-index: 5;
    left: 1%;
    position: absolute;
  }
  .info_sect {
    width: 80%;
    margin: 0 auto;
  }
  .info_sect h1 {
    border-bottom: 2px solid #EA651C;
    padding: 10px 0;
  }
  .info_sect p {
    font-family: "Handlee", cursive;
    padding: 10px 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) {
  nav ul {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .showcase {
    background: url(../img/showcase.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .showcase_orange {
    background-color: #EA651C;
    width: 75%;
    height: 680px;
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 1;
  }
  .showcase_text {
    background-color: rgb(46, 43, 43);
    padding: 45px 55px;
    width: 70%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 3;
  }
  .showcase_text h4 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .showcase_text h1 {
    font-size: 4.8rem;
    color: white;
    font-weight: 400;
    padding: 20px 0;
  }
  .showcase_text h5 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .showcase_text h5 a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
  .info {
    display: flex;
    padding: 50px 5px;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    background-color: white;
    z-index: 5;
    left: 1%;
    top: 100%;
    position: absolute;
  }
  .info_sect {
    width: 80%;
    margin: 0 auto;
  }
  .info_sect h1 {
    border-bottom: 2px solid #EA651C;
    padding: 10px 0;
  }
  .info_sect p {
    font-family: "Handlee", cursive;
    padding: 10px 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 10px;
  }
  .textwimg {
    width: 95%;
  }
  .textwimg_sect {
    width: 100%;
  }
  .textwimg_sect_img {
    width: 80%;
  }
  .textwimg_sect_img img {
    width: 100%;
    height: 150px;
    width: 150px;
  }
  .textwimg_text {
    width: 100%;
  }
  .showcase {
    background: url(/img/showcase.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .showcase_orange {
    background-color: #EA651C;
    width: 90%;
    height: 680px;
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 1;
  }
  .showcase_text {
    background-color: rgb(46, 43, 43);
    padding: 35px 25px;
    width: 85%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 3;
  }
  .showcase_text h4 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .showcase_text h1 {
    font-size: 4.2rem;
    color: white;
    font-weight: 400;
    padding: 20px 0;
  }
  .showcase_text h5 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .showcase_text h5 a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
}

/*# sourceMappingURL=main.css.map */
